@use '../../variables.scss' as *;

.input {
  padding: 17px 24px;
  width: 100%;

  background-color: #191919;

  color: $color-primary;
  font-family: 'Inter';
  font-weight: 400;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}