@use "../../variables.scss" as *;

.submit {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 12px;
  background-color: $color-accent;
  color: $color-primary;
  font-size: 16px;
  line-height: 20px;
}

.reset {
  width: 100%;
  padding: 20px;
  border: 1px solid $color-accent;
  border-radius: 12px;
  background-color: transparent;
  color: $color-primary;
  font-size: 16px;
  line-height: 20px;
}
