@use '../../variables.scss' as *;

.submit {
  width: 100%;
  padding: 20px;

  font-size: 16px;
  line-height: 20px;
  color: $color-primary;

  background-color: $color-accent;
  border-radius: 12px;
  border: none;

}

.reset {
  width: 100%;
  padding: 20px;

  font-size: 16px;
  line-height: 20px;
  color: $color-primary;

  background-color: transparent;
  border-radius: 12px;
  border: 1px solid $color-accent;

}