@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Inter-LightBETA.eot");
  src: local("./assets/fonts/Inter Light BETA"), local("Inter-LightBETA"),
    url("./assets/fonts/Inter-LightBETA.woff2") format("woff2"),
    url("./assets/fonts/Inter-LightBETA.woff") format("woff"),
    url("./assets/fonts/Inter-LightBETA.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local("./assets/fonts/Inter Regular"), local("Inter-Regular"),
    url("./assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter-Regular.woff") format("woff"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"),
    url("./assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter-Bold.woff") format("woff"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Inter-ExtraBold.eot");
  src: local("./assets/fonts/Inter Extra Bold"), local("Inter-ExtraBold"),
    url("./assets/fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Inter-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Halvar Breitschrift";
  font-style: normal;
  font-weight: 700;
  src: local("./assets/fonts/Halvar Breitschrift"), local("Halvar Breitschrift"),
    url("./assets/fonts/Halvar Breitschrift Bold.woff2") format("woff2"),
    url("./assets/fonts/Halvar Breitschrift Bold.woff") format("woff"),
    url("./assets/fonts/Halvar Breitschrift Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Halvar Breitschrift";
  font-style: normal;
  font-weight: 500;
  src: local("./assets/fonts/Halvar Breitschrift"), local("Halvar Breitschrift"),
    url("./assets/fonts/Halvar Breitschrift Medium.woff2") format("woff2"),
    url("./assets/fonts/Halvar Breitschrift Medium.woff") format("woff"),
    url("./assets/fonts/Halvar Breitschrift Medium.ttf") format("truetype");
}
