<form class="form" novalidate>
  {{{title}}}
  {{#if auth}}
    <p class="auth__text">Don't have account? <span class="auth__link">Sign Up</span></p>
  {{/if}}
  <div class="auth__inputs">

    {{{inputs}}}
  </div>

  <div class="buttons">
    {{{buttons}}}
    
  </div>
</form>