@use '../../variables.scss' as *;

.card {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;

  background-color: $background-card;

  border: 1px solid $color-accent;
  border-radius: 12px;
  &_current {
    background-color:$color-accent;
  }
}

.card__container {
  display: flex;
  gap: 0.5vw;
  width: 80%;
}

.card__avatar {
  width: 24px;
  height: 24px;

}

.card__message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  max-width: 95%;
  
}

.card__name {
  position: relative;
  top: 3px;

  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-primary;
}

.card__message {
  margin: 0;



  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $color-primary;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__date {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: rgba(217, 217, 217, 0.63);
}