<main class="main">
  <div class="content">
      <form class="form">
        {{{title}}}
        
        <ul class="auth__inputs">
          {{#each inputs}}
            <li auth__input>{{{this}}}</li>
          {{/each}}
        </ul>
        
        <div class="buttons">
          {{{buttonSubmit}}}
          {{{buttonReset}}}
        </div>
        
      </form>
  </div>
  
</main>