@use "../../variables.scss" as *;

.chat {
  width: 100%;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 22px 28px;
  background-color: $color-tools;
}

.chat__main {
  display: flex;
  width: 100%;
  height: 84.5vh;
  padding: 13px 13px 20px 25px;
  background-color: $background-primary;
  gap: 2%;
}

.chat__sidebar {
  width: 20%;
}

.chat__current-dialog {
  display: flex;
  width: 78%;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 28px 32px;
  border: 1px solid #646464;
  border-radius: 8px;
}

.chat__control-panel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: $color-tools;
}

.chat__new-dialog {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("./assets/new-dialog-icon.svg");
  background-repeat: no-repeat;
}

.chat__setting {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("./assets/settings-icon.svg");
  background-repeat: no-repeat;
}

.chat__form-send {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 12px;
  border-radius: 16px;
  background-color: $color-tools;
}

.chat__search {
  position: relative;
}

.search__input {
  padding-left: 25px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 8px;
  color: rgb(0 0 0 / 20%);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.search__submit {
  position: absolute;
  z-index: 4;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url("./assets/search-icon.svg");
  background-repeat: no-repeat;
}

.chat__input {
  width: 92%;
  padding-left: 8px;
  border: none;
  margin: 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.chat__button {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;

  &_voice {
    background-image: url("./assets/notification-icon.svg");
  }

  &_pic {
    background-image: url("./assets/picture-icon.svg");
  }

  &_smile {
    width: 20px;
    height: 20px;
    background-image: url("./assets/smile-icon.svg");
  }

  &_notification {
    background-image: url("./assets/notification-icon.svg");
  }

  &_theme {
    width: 20px;
    height: 20px;
    background-image: url("./assets/theme-icon.svg");
  }

  &_send {
    background-image: url("./assets/send-icon.svg");
  }
}

.chat__list {
  display: flex;
  height: 75vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 1vh;
  list-style: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chat__messages {
  display: flex;
  height: 68vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 50px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
