$background-primary: #000;
$black-accent: #101010;
$background-card: rgb(42 68 92 / 65%);
$color-primary: #fff;
$color-link: #00c2ff;
$color-accent: #00a3ff;
$color-tools: #f7f9fb;
$color-grey: #646464;
$color-error: red;
