  {{#if owner}}
  <li class="message-container message-container_owner"><p class="message message_owner">{{text}}</p></li>
    {{else}}
    <li class="message-container"><p class="message">{{text}}</p></li>
  {{/if}}

