.code {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 120%;
  /* identical to box height, or 154px */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.text {
  font-family: 'Halvar Breitschrift';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */

  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #FFFFFF;

}

.button-container {
  margin-top: 10vh;
  width: 30%;
}